APP_ENV=development

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=aurarisk_ai
DATABASE_USER=root
DATABASE_PASSWORD=

VITE_API_BASE_URL=http://127.0.0.1:8000

AI_PROVIDER=
AI_MODEL=
AI_API_KEY=
